
.chord-display {
  font-family: monospace;
  font-size: 14px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35% 1em 0 1em;
}

.chords {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 1em;
  font-size: 3em;
  padding-bottom: 0.5em;
}

.notes {
  color: lightgrey;
  display: flex;
  flex-wrap: wrap;
  min-height: 1em;
  font-size: 2em;
}

.notes > span {
  padding-right: 15px;
}

/* landscape view */
@media only screen and (max-width: 1200px) and (orientation: landscape){
  .chord-display {
    font-size: 14px;
    padding-top: 0;
  }

  .chords {
    display: block;
  }

  .chord {
    margin-right: 15px;
  }
}

/* big screen */
@media only screen and (min-width: 1200px) {
  .chord-display {
    font-size: 14px;
    padding-top: 10%;
    flex-grow: 0;
    flex-basis: 50%;
  }

  .chords {
    flex-direction: row;
  }
}
