.keyboard {
  padding: 1em 0 25%;
}

.label {
  color: red
}

.pointer {
  cursor: pointer;
}

/* landscape view */
@media only screen and (max-width: 1200px) and (orientation: landscape){
  .keyboard {
    padding: 1em;
  }
}

@media only screen and (min-width: 1200px) {
  .keyboard {
    padding: 0 15% 15%;
  }

  rect {
    transition: all 0.3s;
  }
}
